*{
    font-family: tajawal;
}
body{
    background-color: whitesmoke;
    margin: 0px;
}
.nb{
    position: fixed;
    height: 1in;
    background-color: white;
    left: 0px;
    top: 0.03in;
    width: 100%;
    z-index: 1;

    background-color: whitesmoke;
}
.nbm{
    height: 1.03in;
}

.nbtns{
    margin-left: 4%;
    margin-right: 15%;
    height: 100%;
    float: left;
}
.nbtn{
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 2px solid teal;
    border-bottom-color: transparent;

    border-top-color: rgb(47, 51, 82);
    border-top-style: ridge;
    border-top-width: 0.06in;
}
.nbtn::before{
    content: '.';
    font-family: sporto2;
    margin-right: 5px;
    font-size: 80%;
    color: rgb(36, 48, 138);
}
.nbtn:hover::before{
    color: whitesmoke;
    display: inline-block;
    transform: rotateZ(-60deg);
    transition: 0.7s;
}
.nbtn:hover{
    border-bottom-width: 25px;
    border-bottom-style: groove;
    border-bottom-color: turquoise;
    background-color: teal;
    background-color: rgb(47, 51, 82);
    border-bottom-color: rgb(36, 48, 138);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.steel:hover{
    background-color: steelblue;
    border-bottom-color: cornflowerblue;

    border-bottom-color: chocolate;
    background-color: chocolate;
}
.nlogo{
    height: 100%;
    float: left;
    margin-left: 20px;
}
.nsearch{
    position: fixed;
    right: 0.5in;
    top: 15px;
    max-height: max-content;
}

