.pageSubtitle{
    text-transform: capitalize;
}
.tabhead{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}
.tabhead::before{
    content: 'm';
    text-transform: none;
    font-family: sporto1;
    float: right;
    font-size: 90%;
    margin-right: 10px;
}
.tabOpened::before{
    content: 'l';
}
.tabClosed::before{
    content: 'm';
}
.tab{
    width: 80%;
    margin-right: 3%;
}
