/*defaults*/
.mobile-nbtns{
    display: block;
}
/*mobile*/
@media screen and (max-width: 500px){
    .mobile-logo{
        height: 0.5in;
        margin-top: calc(0.35in - 0.25in);
        margin-left: 10px;
    }
    .mobile-nbtns{
        display: none;
    }
    .screenCenterHeadline{
        font-size: 35px;
    }
    #screen1{
        background-size: contain;
        background-position-y: unset;
        min-height: 70vh;
        background-position: bottom;
    }
    .flex{flex-wrap: wrap;}
    .flex-halfWidth{flex-basis: 100%;}
    #screenAbout{width: 100%;}
    #storyimgdiv{width: 100%;}
    #screenstory{width: 80%; margin-left: 10%; margin-right: 10%;}
    #screenstory #storytitle{width: 100%; font-size: 20px;}
    #storyimgcaption{width: 100%;}
    #storybody{width: 100%; margin-left: unset; padding: unset;}
    #screenCollaboration-cards{width: 90%; margin-left: 5%; margin-right: 5%;}
    #screenres{width: 100%; margin-left: 0px;}
}