body{
    margin: 0px;
    background-color: whitesmoke;
}

td{
    vertical-align: top;
    border-bottom: 2px dotted rgba(47, 51, 82, 0.263);
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    font-family: tajawal;
    scroll-behavior: smooth;
}
.notif{
    padding: 10px;
    border-left: 3px solid rgba(47, 51, 82, 0.963);
    background-color: rgba(47, 51, 82, 0.263);
    color: rgb(64, 64, 64);
    font-weight: bold;
    margin: 5px;
}
.notif-narrow{
    height: 0.2in;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.tophead{
    width: 100%;
    min-height: 0.3in;
    background-color: rgba(47, 51, 82, 0.963);

    min-height: 1.2in; max-height: max-content; height: unset;
}
.tophead .h1{
    color: whitesmoke; font-size: 30px; vertical-align: middle; margin-left: 30px; height: 1in; line-height: 1in; float: left;
}

textarea, .textarea{
    width: 80%;
    resize: vertical;
    border: none;
    background-color: rgba(70, 131, 180, 0.11);
    border-bottom: 2px solid steelblue;
    font-size: 18px;
    padding: 5px;
}
textarea, .textarea{
    width: 80%;
    height: 1in;
    resize: vertical;
    border: none;
    background-color: rgba(70, 131, 180, 0.11);
    border-bottom: 2px solid steelblue;
    border-radius: 10px;
    padding: 5px;
}
.section{
    background-color: rgba(47, 51, 82, 0.963);
    color: whitesmoke;
    font-size: 30px;
    width: 80%;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.furtherinfo{
    padding: 10px;
}
.section-content{
    width: calc(80% - 60px);
    padding: 10px;
    display: block;
    padding-left: 50px;
}

/* to share */
input{
    padding: 3px;
    font-size: 16px;
    width: 2in;
}
button{
    font-size: 16px;
    margin: 5px;
}
.secondhead{
    padding: 10px;
    background-color: crimson;
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;
}
.btn{
    outline: none;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(47, 51, 82, 0.963);
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    background-color: palevioletred;
    background-color: rgba(47, 51, 82, 0.963);
}
.smallbtn{
    font-size: 16px;
    height: 0.25in;
    padding-top: 0px; padding-bottom: 0px;
    font-weight: bold;
}
.bigBtn{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.mail{
    font-family: lecafetech2;
    color: rgba(47, 51, 82, 0.963);
    font-size: 120%;
}

.point{
    display: block;
}
.point::before{
    content: 'y';
    font-family: sporto1;
    font-size: 60%;
    margin-right: 5px;
    color: rgba(47, 51, 82, 0.963);
}

@media screen and (max-width: 1000px){
    textarea, .textarea{
        width: calc(100% - 10px);
        height: 2in;
    }
}
.textbox{
    height: 0.5in;
    padding: 3px;
    border-radius: 0px;
}
label{
    display: block;
    margin-top: 20px;
}
.inputNote{
    display: block;
    font-size: 15px;
    color: rgb(64, 64, 64);
}
/*FLEX*/
.flex100pc{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex100pc{
    width: 90%;
    margin-left: 3%;
}
.fch-3in{
    flex-basis: 3in;
}
.fch-1{
    flex:1;
}
.fch-1{
    padding: 20px;
}

/*LIST VIEW*/
.list{
    width: calc(100% - 20px);
    margin: 10px;
}
.list-headline{
    width: calc(100% - 10px);
    background-color: slategray;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    font-size: x-large;
    font-weight: bold;
}
.list-items{
    border-left: 2px solid rgba(47, 51, 82, 0.963);
}
.list-item{
    display: block;
    color: rgb(64, 64, 64);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: medium;
    padding-left: 20px;
}
.list-item:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
.checked{
    background-color: rgba(47, 51, 82, 0.963);
    color: white;
    font-weight: bold;
}
.checked:hover{
    color: whitesmoke;
}
/*Righthand Body*/
.h1{
    display: block;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: 10px;
}
.p{
    font-size: larger;
    display: block;
    margin-left: 10px;
}
.tabed{
    margin-left: 40px;
    display: block;
}
td{
    padding-bottom: 10px;
}
a{
    cursor: pointer;
}

@media screen and (max-width: 500px){
    textarea{
        width: calc(100% - 10px);
        height: 2in;
    }
}

#loadingmaster{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 128, 128, 0.568);
}
#loading{
    width: 4in;
    height: 3in;
    margin-top: calc(50vh - 1.5in);
    margin-left: calc(50% - 2in);
    background-color: rgba(47, 51, 82, 0.963);
    color: white;
    text-align: center;
    border-radius: 50px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
#loading h1{
    line-height: 400%;
}
#loading #lAction{
    animation: anmo 0.5s infinite alternate;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 100px;
    transform-origin: 50% 50%;
    margin-top: 0.5in;

    background: linear-gradient(white, rgba(255, 166, 0, 0.527), rgba(255, 166, 0, 0.527));
    color: transparent;
    background-clip: text;
}
@keyframes anmo {
    100%{
        display: block;
        transform: rotateZ(90deg);
    }
    0%{
        display: block;
        transform: rotateZ(-90deg);
    }
}

/**/
@media screen and (max-width: 600px){
    .tophead{
        min-height: 2in;
    }
}
@media screen and (max-width: 400px){
    .tophead{
        min-height: 3in;
    }
    .tophead .h1{
        line-height: unset;
        margin-top: 0.3in;
    }
    .fch-3in{
        flex-basis: unset;
        flex-basis: 100%;
    }
}
@media screen and (max-width: 500px) {
    .section{
        width: calc(100% - 20px);
        padding: 5px;
        margin: 5px;
    }
    .section-content{
        width: calc(100% - 20px);
        padding: 10px;
    }
    .fch-1{
        padding: 0px;
    }
    .secondhead input{
        width: 90%;
        margin: 5px;
    }
    .secondhead button{
        margin-left: 60%;
    }
}